.ScoreBoard {
    display: flex;
    justify-content:center;
}

.frame {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: crimson;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.number {
    margin: 0px;
}

.frame-number {
    display: flex;
    width: 150px;
    height: 25px;
    align-self: flex-start;
    justify-content: center;
    border-style: solid;
    border-color:crimson;
}

#frame-score-container {
    display: flex;
    justify-content: flex-end;
}

.first-shot {
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50px;
}

/* last shot 1-9 frames === second-shot */
.last-shot {
    border-bottom-style: ridge;
    border-left-style: ridge;
    height: 50px;
    width: 50px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

/* second shot is for frame 10 only */
.second-shot {
    height: 50px;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-score-num {
    margin-left: 10px;
}


